<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Patitas Solidarias</title>
        <link rel="icon" type="img" href="/fav/hippo-solid.svg"/>
        
        <meta charset="UTF-8"/> 
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="css/listaMascotas.css" rel="stylesheet" type="text/css"/>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
        
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
                <div class="container">
                    <a class="navbar-brand fw-bold text-success" th:href="@{/}"> <img src="/fav/hippo-solid.svg" style="height: 20px"/> Patitas Solidarias</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="aboutDropdown">Información</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/listaMascotas}">Mascotas</a></li>
                                    <li><a class="dropdown-item" th:href="@{/requisitosAdopcion}">Requisitos de Adopción</a></li>
                                    <li><a class="dropdown-item" th:href="@{/castraciones}">Info de Castraciones</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/necesidades}">Necesidades</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/inscribirse}">Voluntariado</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="aboutDropdown">Acerca De</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/testimonios}">Testimonios</a></li>
                                    <li><a class="dropdown-item" th:href="@{/about}">Sobre Nosotros</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="btn btn-success text-white" th:href="@{/login}">Iniciar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>
