<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{layout/plantilla :: head}">
    <title>Editar Mascota</title>
    <meta charset="UTF-8"/>
</head>
<body>

    <div class="maincontainer">
        <div th:replace="~{layout/plantilla :: header}" class="leftside"></div>

  
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Mascotas</a>
            </div>
        </nav>

        <div class="container mt-5">
            <h2 class="text-center mb-4">Editar Mascota</h2>

            <form action="submit" th:object="${mascota}" method="POST">
                <div class="mb-3">
                    <label for="codigo" class="form-label">Código</label>
                    <input type="text" style="background-color: lightgray;" class="form-control" id="id_mascota" name="id_mascota" th:field="*{id_mascota}" readonly="true"/>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required="true"/>
                </div>
                <div class="mb-3">
                    <label for="tipoAnimal" class="form-label">Tipo de Animal</label>
                    <select class="form-select" id="tipoAnimal" name="tipoAnimal"  th:field="*{tipo_animal}" required="true">
                        <option value="Perro" selected="true">Perro</option>
                        <option value="Gato">Gato</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" th:field="*{descripcion}" required="true"/>
                </div>
                <div class="mb-3">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" class="form-control" id="edad" name="edad" th:field="*{edad}" required="true"/>
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <select class="form-select" id="estado" name="tipoEstado"  th:field="*{estado}" required="true">
                        <option value="disponible" selected="true">disponible</option>
                        <option value="tratamiento">en tratamiento</option>
                        <option value="adoptado">adoptado</option>
                    </select>
                </div>
                <div class="mb-3" hidden="true">
                    <label for="adoptado_por" class="form-label">Adoptado Por</label>
                    <input type="number" class="form-control" id="adoptado_por" name="adoptado_por" th:field="*{adoptado_por}" required="true"/>
                </div>
                
                <button type="submit" class="btn btn-warning">Actualizar Mascota</button>
            </form>
        </div>
    </div>

</body>
</html>
