<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Patitas Solidarias</title>
        <meta charset="UTF-8"/>
    </head>
    <body>

        <div class="maincontainer">
            <div th:replace="~{layout/plantilla :: header}" class="leftside"/>
            <!-- Navbar (optional) -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand">Testimonios</a>
                </div>
            </nav>

            <div class="bg-light">

                <div class="container mt-4">
                    <h2 class="text-center mb-4">Testimonios</h2>

                    <!-- Formulario -->
                    <div class="card p-4 shadow-sm mb-4" th:if="${nombre != null and correo != null}">
                        <form id="feedbackForm" action="testimonios/submit" th:object="${testimonio}" method="POST">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label class="form-label">Descripción</label>
                                    <textarea id="description" class="form-control" name="descripcion" rows="5" cols="10" required=""></textarea>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Correo Electrónico</label>
                                    <input type="email" style="background-color: lightgray;" class="form-control" name="correo" id="correo" th:field="*{correo}" required="true" readonly="true"/>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Fecha</label>
                                    <input type="date" class="form-control" name="fecha" id="fecha" required="true"/>
                                </div>
                                <div class="col-md-3 d-flex align-items-end">
                                    <button type="submit" class="btn btn-primary w-100">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Lista de Donaciones -->
                    <h3 class="mb-3">Testimonios Registrados</h3>
                    <ul class="list-group" id="feedbackList">
                        <!-- Dynamic Items will be added here -->
                        <li class="list-group-item d-flex justify-content-between align-items-center rounded mb-1" th:each="testimonio : ${testimonios}">
                            <div>
                                <p class="mb-1"><strong>Fecha:</strong> [[${testimonio.fecha}]]</p>
                                <p class="mb-1"><strong>Email:</strong> [[${testimonio.correo}]]</p>
                                <p class="mb-1"><strong>Descripción:</strong> [[${testimonio.descripcion}]]</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

