<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Patitas Solidarias - Mascotas Adoptadas</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <div class="maincontainer">
            <div th:replace="~{layout/plantilla :: header}" class="leftside"></div>

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand">Mascotas</a>
                </div>
            </nav>

            <!-- Sección de mascotas adoptadas -->
            <div class="container mt-5">
                <h2 class="text-center mb-4">Mascotas Adoptadas 🏡🐶🐱</h2>
                <div class="row">
                    <ul class="list-group" th:if="${mascotas != null and !mascotas.empty}">
                        <!-- Pet Item 1 -->
                        <li class="list-group-item d-flex align-items-center liListaMascotas" th:if="${mascota.estado == 'adoptado'}" th:each="mascota : ${mascotas}">
                            <div class="pet-icon me-3">
                                <i class="fas fa-paw"></i>
                            </div>
                            <div>
                                <p class="mb-1"><strong>Código:</strong> [[${mascota.id_mascota}]]</p>
                                <p class="mb-1"><strong>Nombre:</strong> [[${mascota.nombre}]]</p>
                                <p class="mb-1"><strong>Tipo Animal:</strong> [[${mascota.tipo_animal}]]</p>
                                <p class="mb-1"><strong>Descripción:</strong> [[${mascota.descripcion}]]</p>
                                <p class="mb-0"><strong>Edad:</strong> [[${mascota.edad}]]</p>
                                <p class="mb-0" th:if="${adopcionService.getPetOwner(mascota.id_mascota) != null}" ><strong>Dueño:</strong> [[${usuarioService.getUsuarioByID(adopcionService.getPetOwner(mascota.id_mascota)).getNombre()}]]</p>
                            </div>
                        </li>
                    </ul>
                    

                    <div class="text-center p-2" th:if="${mascotas == null or mascotas.empty}">
                        <span>No Hay Mascotas</span>
                    </div>
                </div>
            </div>

        </div>
    </body>

</html>
